*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 200;
  color: #333;
  background-color: #262626; }

.gallery__overlay {
  width: 100%;
  height: 100%; }

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem;
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column; }
  .header .brand {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    text-transform: uppercase;
    margin-top: 6rem; }
    .header .brand__icon {
      width: 12rem;
      height: 12rem;
      fill: #000;
      padding: 1rem;
      margin-right: 1rem;
      border-radius: 50%;
      border: 0.4rem #d3ab55 solid; }
      .header .brand__icon--fork {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover; }
    .header .brand__headings {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
    .header .brand__name {
      font-weight: 200;
      font-size: 5rem;
      color: #eee;
      margin-top: 3rem; }
    .header .brand__sub {
      font-size: 2rem;
      color: #eee;
      margin-top: 1rem; }
  .header .banner {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60rem;
    height: 25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header .banner__heading {
      margin-bottom: auto; }
    .header .banner__btn {
      margin-top: 4rem; }

.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15rem 2rem; }
  .about__left {
    display: flex;
    align-items: center; }
    .about__left--image {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      opacity: 0.8; }
  .about__right {
    display: grid;
    grid-row-gap: 3rem;
    padding: 0 2rem;
    text-align: center; }
    .about__right--stars {
      display: flex;
      justify-content: center; }
    .about__right--svg {
      width: 2rem;
      height: 2rem; }
      .about__right--svg:not(:last-of-type) {
        margin-right: 2rem; }
    .about__right--icon {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover; }
    .about__right--p {
      font-size: 1.8rem;
      color: #eee;
      text-align: left;
      font-style: italic; }
      .about__right--p::first-letter {
        padding-left: 5rem; }
    .about__right--btn {
      justify-self: center; }

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .gallery__wrapper {
    position: relative;
    overflow: hidden; }
    .gallery__wrapper:hover .gallery__overlay {
      left: 0%; }
  .gallery__overlay {
    position: absolute;
    color: #eee;
    background-color: rgba(211, 171, 85, 0.7);
    z-index: 3;
    left: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: left 0.8s; }
    .gallery__overlay--name {
      font-size: 4rem; }
    .gallery__overlay--price {
      font-size: 2.4rem;
      padding-bottom: 2rem; }
    .gallery__overlay--btn {
      cursor: pointer;
      padding: 1.2rem 3rem;
      border-radius: 2rem;
      border: none;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-family: "Josefin Sans", sans-serif;
      border: 0.1rem solid #d3ab55;
      color: #d3ab55;
      transition: background-color 0.3s, color 0.3s; }
      .gallery__overlay--btn:hover {
        background-color: #d3ab55;
        color: #eee; }
      .gallery__overlay--btn:focus {
        outline: none; }
  .gallery__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    opacity: 0.8; }

.btn {
  cursor: pointer;
  padding: 1rem 4rem;
  background-color: transparent;
  border: #d3ab55 solid 0.2rem;
  font-size: 1.6rem;
  color: #d3ab55;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s; }
  .btn:hover {
    background-color: #d3ab55;
    color: #262626; }
  .btn:focus {
    outline: none; }

.heading-main {
  font-size: 8rem;
  color: #d3ab55;
  font-family: "Dancing Script", cursive;
  font-weight: 300; }

.heading-sub {
  font-size: 5rem;
  color: #eeeeee;
  font-weight: 200; }
