// BREAKPOINTS

// 1440 / 16 = 90em;
$bp-large: 90em;

// 1024 / 16 = 64em;
$bp-medium: 64em;

// 768 / 16 = 48em;
$bp-tablet: 48em;

// 478 / 16 = 29.875‬em;
$bp-phone: 29.875em;

// 425 / 16 = 26.5625em;
$bp-phone-small: 26.5625em;

// COLOR PALET
$cl-prime: #d3ab55;
$cl-dark: #262626;
$cl-black: #000;
$cl-white: #eee;

// TYPOGRAPHY
$font-prime: "Josefin Sans", sans-serif;
$font-cursive: "Dancing Script", cursive;
$font-nurito: "Nunito", sans-serif;

// BASIC RESET
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  // 10 / 16 * 100 = 62.5% = 10px
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    // 9 / 16 * 100 = 56.25% = 9px
    font-size: 56.25%;
  }

  @media only screen and (max-width: $bp-medium) {
    // 8 / 16 * 100 = 50% = 8px
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-phone) {
    // 7 / 16 * 100 = 43.75% = 7px
    font-size: 43.75%;
  }
}

body {
  // font-family: "Nunito", sans-serif;
  font-family: $font-prime;
  font-size: 1.6rem;
  font-weight: 200;
  // line-height: 1.6rem;
  color: #333;

  background-color: $cl-dark;
}

// MIXINS & UTILS
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centeringAbs($x: 50%, $y: 50%) {
  position: absolute;
  top: $x;
  left: $y;
  transform: translate(-50%, -50%);
}

@mixin centeringGrid {
  display: grid;
  align-content: center;
  justify-content: center;
}

@mixin image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

%fullSpace {
  width: 100%;
  height: 100%;
}
