//  MENU ICON

.navigation {
  // display: none;
  position: relative;
  &__check {
    // display: none;
  }
  &__menu {
  }
  &__label {
    &--before {
    }

    &--center {
    }

    &--after {
    }
  }

  &::before {
  }

  &::after {
  }

  &__box {
    display: flex;
  }
  &__left {
    position: relative;
    width: 50vw;
    height: 100vh;
    background-color: $cl-dark;

    &--wrapper {
      width: 65%;
      // height: 20vw;

      border-radius: 0.5rem;
      overflow: hidden;
    }

    &--image {
      @include image;
      opacity: 0.8;
      &-1 {
        position: absolute;
        top: 20%;
        left: 10%;
        z-index: 3;
      }
      &-2 {
        position: absolute;
        top: 35%;
        left: 22%;
        z-index: 4;
      }
      &-3 {
        position: absolute;
        top: 50%;
        left: 30%;
        z-index: 4;
      }
    }
  }

  &__right {
    // flex: 1;
    width: 50vw;
    height: 100vh;
    background-color: #1f1d1d;

    &--list {
    }

    &--item {
    }
  }
}

// SECTION HEADER

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem;

  background-image: linear-gradient(
      to bottom right,
      rgba($cl-black, 0.6),
      rgba($cl-black, 0.6)
    ),
    url("../images/bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;

  .brand {
    @include centeringAbs(5%, 50%);

    // align-self: center;
    display: flex;
    text-transform: uppercase;

    margin-top: 6rem;

    // &__logo {
    // }

    &__icon {
      width: 12rem;
      height: 12rem;
      fill: #000;

      padding: 1rem;
      margin-right: 1rem;
      border-radius: 50%;
      border: 0.4rem $cl-prime solid;

      &--fork {
        @include image;
      }
    }

    &__headings {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__name {
      font-weight: 200;
      font-size: 5rem;
      color: $cl-white;
      margin-top: 3rem;
    }

    &__sub {
      font-size: 2rem;
      color: $cl-white;
      margin-top: 1rem;
    }
  }

  .banner {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 60rem;
    height: 25rem;

    @include centeringAbs;

    &__heading {
      margin-bottom: auto;
    }

    // &__sub {

    // }

    &__btn {
      margin-top: 4rem;
    }
  }
}

// SECTION ABOUT

.about {
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15rem 2rem;

  &__left {
    display: flex;
    align-items: center;
    // &--wrapper {
    // width: 60vh;
    // height: 40rem;
    // }

    &--image {
      @include image;
      opacity: 0.8;
    }
  }

  &__right {
    display: grid;
    grid-row-gap: 3rem;
    padding: 0 2rem;
    text-align: center;

    // &--heading1 {
    // }

    // &--heading2 {
    // }

    &--stars {
      display: flex;
      justify-content: center;
    }

    &--svg {
      width: 2rem;
      height: 2rem;

      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }

    &--icon {
      @include image;
    }

    &--p {
      font-size: 1.8rem;
      color: $cl-white;
      text-align: left;
      font-style: italic;

      &::first-letter {
        padding-left: 5rem;
      }
    }

    &--btn {
      justify-self: center;
    }
  }
}

// SECTION GALLERY

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // grid-template-rows: repeat(2, 20vw);
  // grid-column-gap: 1rem;
  // grid-row-gap: 1rem;
  // padding: 0 1rem;

  &__wrapper {
    position: relative;
    overflow: hidden;

    &:hover .gallery__overlay {
      left: 0%;
    }
  }

  &__overlay {
    position: absolute;
    color: $cl-white;
    background-color: rgba($cl-prime, 0.7);
    z-index: 3;

    @extend %fullSpace;

    left: -100%;

    @include flexCenter;
    flex-direction: column;
    transition: left 0.8s;

    &--name {
      font-size: 4rem;
    }

    &--price {
      font-size: 2.4rem;
      padding-bottom: 2rem;
    }

    &--btn {
      cursor: pointer;
      padding: 1.2rem 3rem;
      border-radius: 2rem;
      border: none;
      font-size: 1.6rem;
      text-transform: uppercase;
      font-family: $font-prime;
      border: 0.1rem solid $cl-prime;
      color: $cl-prime;
      transition: background-color 0.3s, color 0.3s;

      &:hover {
        background-color: $cl-prime;
        color: $cl-white;
      }

      &:focus {
        outline: none;
      }
    }
  }

  &__image {
    @include image;
    opacity: 0.8;
  }
}

// FOOTER

.footer {
  color: $cl-white;
  display: grid;
  grid-row-gap: 6rem;
  padding: 6rem 0;
  justify-items: center;

  &__wrapper {
    display: grid;
    grid-template-columns: min-content 1fr;
  }

  &__logo {
    justify-self: center;
  }

  &__icon {
    width: 12rem;
    height: 12rem;

    padding: 1rem;
    margin-right: 1rem;
    border-radius: 50%;
    border: 0.4rem $cl-prime solid;
    &--fork {
      @include image;
    }
  }

  &__headings {
    align-self: center;
    margin-top: 3rem;

    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    font-weight: 200;
    font-size: 5rem;
    color: $cl-white;
  }

  &__sub {
    font-size: 2rem;
    color: $cl-white;
  }
  &__social {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    grid-column-gap: 1rem;

    // &--link {
    // }
    &--icon {
      width: 7rem;
      height: 7rem;
    }
    &--img {
      @include image;
      opacity: 0.8;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.06);
      }
    }
  }
  &__copy {
    font-size: 2rem;
  }
}
