// SECTION HEADER

.header {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 2rem;

  background-image: linear-gradient(
      to bottom right,
      rgba($cl-black, 0.6),
      rgba($cl-black, 0.6)
    ),
    url("../images/bg.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: flex;
  flex-direction: column;

  .brand {
    @include centeringAbs(5%, 50%);

    // align-self: center;
    display: flex;
    text-transform: uppercase;

    margin-top: 6rem;

    // &__logo {
    // }

    &__icon {
      width: 12rem;
      height: 12rem;
      fill: #000;

      padding: 1rem;
      margin-right: 1rem;
      border-radius: 50%;
      border: 0.4rem $cl-prime solid;

      &--fork {
        display: block;
        width: 100%;
        width: 100%;
      }
    }

    &__headings {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__name {
      font-weight: 200;
      font-size: 5rem;
      color: #eeeeee;
      margin-top: 3rem;
    }

    &__sub {
      font-size: 2rem;
      color: #eeeeee;
      margin-top: 1rem;
    }
  }

  .banner {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 60rem;
    height: 25rem;

    @include centeringAbs;

    &__heading {
      margin-bottom: auto;
    }

    // &__sub {

    // }

    &__btn {
      margin-top: 4rem;
    }
  }
}

// SECTION ABOUT

.about {
  // display: flex;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15rem 2rem;

  &__left {
    display: flex;
    align-items: center;
    // &--wrapper {
    // width: 60vh;
    // height: 40rem;
    // }

    &--image {
      @include image;
      opacity: 0.8;
    }
  }

  &__right {
    display: grid;
    grid-row-gap: 3rem;
    padding: 0 2rem;
    text-align: center;

    // &--heading1 {
    // }

    // &--heading2 {
    // }

    &--stars {
      display: flex;
      justify-content: center;
    }

    &--svg {
      width: 2rem;
      height: 2rem;

      &:not(:last-of-type) {
        margin-right: 2rem;
      }
    }

    &--icon {
      @include image;
    }

    &--p {
      font-size: 1.8rem;
      color: #eee;
      text-align: left;
      font-style: italic;

      &::first-letter {
        padding-left: 5rem;
      }
    }

    &--btn {
      justify-self: center;
    }
  }
}
